@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility pour cacher la scrollbar tout en gardant le scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}